<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iliasdm.com.anglolearner">

    <application
        android:allowBackup="true"
        android:icon="@drawable/anglolearnerlogosupermini"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_Signup"></activity>
        <activity android:name=".TreeScreen"></activity>
        <activity android:name=".Exercise"></activity>
        <activity android:name=".Mistake"></activity>
        <activity android:name=".BadgesCollection"></activity>
        <activity android:name=".BadgeWall"></activity>
        <activity android:name=".NewBadgeNotificationScreen"></activity>
        <activity android:name=".TestFinished"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>